{% extends "base.html" %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>How Long Study</h1>
    </div>
</div>
<div class="row mt-5">
    {% if email %}
    <div class="col-12">
        <button class="btn btn-primary btn-block" onclick="location.href='/timer/'">Timer</button>
    </div>
    <div class="col-12">
        <button class="btn btn-primary btn-block" onclick="location.href='/logout/'">로그아웃</button>
    </div>
    {% else %}
    <div class="col-6">
        <button class="btn btn-primary btn-block" onclick="location.href='/login/'">로그인</button>
    </div>
    <div class="col-6">
        <button class="btn btn-primary btn-block" onclick="location.href='/register/'">회원가입</button>
    </div>
    {% endif %}
</div>
<hr/>
<div style="border-top:3px solid gold;">
    이것은 자신이 공부를 얼마나 했는지 체크하는 웹사이트입니다. 
    여러사람들의 공부 시간을 보며 자극 받기 위해 만든 웹입니다.
</div>


{% endblock %}