{% extends "base.html" %}
{% block contents %}
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>Timer</h1>
        </div>
    </div>

    <hr/> 
    
    <button class="btn btn-primary btn-block" onclick="location.href='/timer_rank/'">랭크</button>
    
    <hr/>

    <div>
        <div style="border-left:4px solid red; font-size:55pt;">
            <form method="POST" action=".">
                {% csrf_token %}
                <span id="study_hour">00</span>
                <span>:</span>
                <span id="study_min">00</span> <!--분-->
                <span>:</span>
                <span id="study_sec" name="study_sec">00</span> <!--초-->
                <!-- <span>:</span>
                <span id="postMilisec">00</span>--> <!--밀리초 -->
                </div>
                <div>
                    <ul id="RecordList"></ul><!--중간 기록할 리스트-->
                </div>
                <div>
                    <button type="button" id="StartBtn">START</button><!--시작/재시작/기록 버튼-->
                    <button type="button" id="StopBtn">STOP</button><!--스톱 버튼-->
                    <button type="submit" id="SaveBtn" >SAVE</button>
                </div>
            </form>
    </div>

    <!-- vanilla js 부분(timer) -->
    <script type="text/javascript">
    
        var stTime = 0 //var: 변수
        var endTime = 0 
        var timerStart 
        
        var hour 
        var min
        var sec 
        // var milisec 

        var startBtn = document.getElementById('StartBtn')
        var stopBtn = document.getElementById('StopBtn')
        var recordList = document.getElementById('RecordList')
        var saveBtn = document.getElementById('SaveBtn')
        //document.getElementById(): html에서 해당 아이디를 가진 태그를 선택합니다.
    
        startBtn.addEventListener('click',function(){
            //addEventListener('click'): 위의 것이 click이 되면서 function()과 그 안의 것을 수행한다.
            
            if(this.innerText == 'RECORD' && sec){
                //Record 
                console.log(hour, min, sec) //, milisec// console.log: 객체를 print하는 것(변경사항이 실시간으로 update된다.)
                var li = document.createElement('li') //createElement('html 요소'): 'html 요소'를 추가할 수 있다.
                li.innerText =hour + ' : ' + min + ' : ' + sec //+ ' : ' + milisec 
    
                if(! recordList.firstChild){
                    //.firstChild : 트리에서 노드의 첫번째 자식 & null(자식x)을 반환
                    recordList.append(li)
                }
                else{
                    recordList.insertBefore(li, recordList.firstChild)
                    //.insertBefore() : 부모노드의 기준 점 노드 앞에 삽입 할 노드를 삽입한다.
                }
                return false
            }
            this.innerText = 'RECORD'
    
            if(! stTime){
                stTime = Date.now() //클릭한 시점의 현재시간 timestamp를 stTime에 저장
                // Date() 생성자는 시간의 특정 지점을 나타내는 Date 객체 생성
            }
            else{
                stopBtn.innerText = 'STOP'
                stTime += (Date.now() - endTime)
            }
            
            timerStart = setInterval(function(){
                //setInterval: 일정 시간 간격으로 작업을 수행하기 위해 사용
                
                var nowTime = new Date(Date.now() - stTime) //1ms당 한번씩 현재 timestamp를 불러와 nowTime에 저장
    
                hour = addZero(Math.floor(nowTime.getHours()) - 9) //시
                min = addZero(nowTime.getMinutes()) //분 
                sec = addZero(nowTime.getSeconds()) //초 
                // milisec = addZero(Math.floor(nowTime.getMilliseconds()/10)) //밀리초 
                // Math.floor(): 주어진 숫자와 같거나 작은 정수 중에서 가장 큰 수를 반환 
                // .getMilliseconds(): 주어진 날짜의 현지 시간 기준 밀리초를 나타내는 0~999 사이의 정수
    
                document.getElementById('study_hour').innerText = hour
                document.getElementById('study_min').innerText = min
                document.getElementById('study_sec').innerText = sec
                // document.getElementById('postMilisec').innerText = milisec
                // innerText: 문자열 
            }, 1)
        })
    
        stopBtn.addEventListener('click', function() {
            if(timerStart){
                clearInterval(timerStart)
                //clearInterval: setInterval로 반복하고 있는것을 멈추게 한다.
                
                if(this.innerText == 'STOP'){
                    endTime = Date.now() //STOP시점의 시간 저장
                    this.innerText = 'RESET'
                    startBtn.innerText = 'RESTART'
                }else {	// RESET
                    stTime = 0
                    hour = 0 
                    min = 0
                    sec = 0
                    // milisec = 0
                    document.getElementById('study_hour').innerText = '00'
                    document.getElementById('study_min').innerText = '00'
                    document.getElementById('study_sec').innerText = '00'
                    // document.getElementById('postMilisec').innerText = '00'
                    startBtn.innerText = 'START'
                    this.innerText = 'STOP'
                    timerStart = null
                    recordList.innerHTML = ''
                }
            }
        })
        //save 버튼 부분
        saveBtn.addEventListener('click', function(){
            // $('#study_hour').val();
            // $('#study_sec').val();
            $.ajax({
                type: "POST",
                url: '/timer',
                data:{
                    study_hour : hour.Text(),
                    study_min : min,
                    study_sec : sec
                },
                success: function(response){
                    console.log(study_hour)
                }
            })
        })

        function addZero(num){
            // 10보다 작으면 앞에 0을 붙임
            return (num < 10 ? "0"+num: ""+num)
        }
    </script>
    


{% endblock %}