<!-- {% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-ligth">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">사용자</th>
                    <th scope="col">총 공부시간</th>
                    <th scope="col">평균 공부시간</th>
                    <th scope="col">등록날짜</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for timer in timer_list %}
                <tr>
                    <th scopr="row">{{ timer.id }}</th>
                    <th>{{ timer.name }}</a> </th>
                    <th>{{ timer.total }}</th>
                    <th>{{ timer.avg }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> -->