{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-ligth">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">사용자</th>
                    <th scope="col">공부 시간</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for timer in timer_list %}
                <tr>
                    <th scope="row">{{ timer.user }}</th>
                    <th scope="row">{{time.study_day}}일 + {{time.study_hour}}시 + {{time.study_min}}분 + {{time.study_sec}}초</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>