{% extends "base.html" %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>Study Time</h1>
    </div>
</div>
<hr/>
    <div >
        <button class="btn btn-primary btn-block" onclick="location.href='/'">Home</button>
        <button class="btn btn-primary btn-block" onclick="location.href='/timer/'">Study More</button>
    </div>
<hr/>
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-ligth">
                <tr>
                    <th scope="col">사용자</th>
                    <th scope="col">Study Day</th>
                    <th scope="col">Study Hour</th>
                    <th scope="col">Study Min</th>
                    <th scope="col">Study Sec</th>
                    <th scope="col">공부한 날짜</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for timer in timers %}
                <tr>
                    <th scope="row">{{ timer.user }}</th>
                    <th scope="row">{{timer.study_day}}일</th>
                    <th scope="row">{{timer.study_hour}}시</th>
                    <th scope="row">{{timer.study_min}}분</th>
                    <th scope="row">{{timer.study_sec}}초</th>
                    <th scope="row">{{timer.register_date}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if timers.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{timers.previous_page_number }}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="#">{{timers.number}}/{{timers.paginator.num_pages}}</a>
                </li>
                {% if timers.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ timers.next_page_number }}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">다음으로</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}